.App {
  text-align: center;
}

.App img {
  width: 100%;
  height: 100%;
}

.react-json-view {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: initial;
  font-size: initial;
}

#result-description {
  font-size: 14px;
  font-style: italic;
  text-align: left;
  display: block;
}

.key-item {
  text-align: left;
}

.key-item p {
  display: inline;
}

.key-item select {
  margin-left: 10px;
  margin-right: 10px;
}

.key-item label {
  margin-right: 10px;
  font-size: 14px;
}